name: Latest Tweets

on:
  schedule:
    - cron: "0 * * * *" # hourly
  workflow_dispatch:

jobs:
  update-readme-with-tweets:
    name: Update this repo's README with latest tweets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://rss.app/feeds/..." # Replace with your Twitter RSS feed URL
          comment_tag_name: "TWEETS"
